/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.


 */
.wp-block-oik-sb-toolicons {

}

.show-empty {
  border: 1px dotted #f00;
  padding: 0.5em;
 }


.editor-styles-wrapper ul.icons,
ul.icons {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.wp-block-oik-sb-toolicons svg,
.blockToolbar svg {
  border: 1px solid grey;
  padding: 12px;
}

.blockToolbar {
  height: 48px;

}

ul.icons span {
  padding: 8px;
}

