/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.

 */
.wp-block-oik-sb-toolicons {

}

.wp-block-oik-sb-toolicons svg,
.blockToolbar svg,
ul.icons svg{
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: none;
  padding: 12px;
}

.block-editor-block-toolbar svg { }

.blockToolbar svg {
  display: inline-block;
}

ul.icons {
  list-style-type: none;
}

ul.icons svg {
  display: inline;
  margin-right: 1em;
}

.blockToolbar svg,
ul.icons svg  {
  height: 48px;
 min-width: 48px;
  padding: 12px;

}

ul.icons span {
  padding: 8px;
}




.blockToolbar svg:first-child,
ul.icons svg:first-child{
  border-left: 1px solid grey;
}

svg.formatBold,
svg.formatItalic,
svg.link {
  border-right: none;

}




