/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.

 */
.wp-block-oik-sb-toolicons {

}

.blockToolbar,
.groupToolbar {
  display: inline-flex;
  flex-direction: row;
  border: 1px solid #1e1e1e;
  border-radius: 2px;
  line-height: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 13px;
}

.blockToolbar div,
.groupToolBar div {
  display: inline-block;
}

.wp-block-oik-sb-toolicons svg,
.blockToolbar svg
{
   border-left: none;

}

.block-editor-block-toolbar svg { }

.blockToolbar svg
.groupToolbar svg {
  display: inline-block;
}

ul.icons,
ul.transform {
  list-style-type: none;
}

ul.icons svg {
  display: inline;
  margin-right: 1em;
}

.blockToolbar svg,
.groupToolbar svg,
ul.icons svg,
ul.transform svg{
  height: 48px;
 min-width: 48px;
  padding-left: 11px;
  padding-right: 6px;

}

ul.icons li {
  display: grid;
  grid-template-columns: 2fr 3fr 6fr ;
  grid-template-rows: 1fr;
  grid-gap: 1%;

}

ul.transform li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

ul.icons span.tool,
ul.icons span.label,
ul.icons span.description{
  display: grid;
}

ul.icons span.tool {
  min-width: 48px;
}

ul.icons span {
  padding: 8px;
}

.blockToolbar div {
  border-right: 1px solid #1e1e1e;
}

.blockToolbar div:first-child {
  border-right: none;
}


div.dragHandle,
div.moveUpDown,
div.moveUp,
div.moveDown,
div.formatBold,
div.formatItalic,
div.link,
div.moreOptions
{
  border-right: none;

}

div.formatBold svg {
  min-width: 42px;
  width: 42px;
  padding-left: 11px;
  padding-right: 6px;
}

div.formatItalic svg,
div.link svg {
  min-width: 36px;
  width: 36px;
  padding-left: 6px;
  padding-right: 6px;

}



div.dragHandle {
  margin-left: -3px;
  display: inline-flex;
}

.dragHandle svg {
  padding: 8px 11px 8px 0px;
  width: 20px;
  min-width: 29px;
}

div.moveUpDown {
  display: inline-flex;
  position: relative;
  line-height: 0;
  vertical-align: top;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 34px;
  min-width: 34px;
  padding: 6px 10px 6px 0px;
  justify-content: center;
  border-right: 1px solid #1e1e1e;
}

div.moveUpDown .moveUp {
  position: absolute;
  top: 4px;

  /* padding-right: 3px; */
}

div.moveUpDown .moveDown {
  /* padding-bottom: 5px; */
  overflow: hidden;
  position: absolute;
  top: 20px
}



.moveUp svg,
.moveDown svg {

  height: 24px;
  width: 24px;
  min-width: 24px;
  padding: 0px;
  border-top: 0px solid grey;
  border-bottom: 0px solid grey;


}

div.text,
div.replace {
	display: inline-flex;
	text-decoration: none;
	font-size: 13px;
	margin: 0;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	transition: box-shadow 0.1s linear;
	height: 48px;
	align-items: center;
	box-sizing: border-box;
	padding: 6px 12px;

	color: #1e1e1e;
  	border-right: 1px solid #1e1e1e;
}

div.changeContentPosition {
  width: 48px;
}

div.crop {
  border-left: 1px solid #1e1e1e;
}



/*

.moveUp svg {

  background-color: yellow;
}

.moveDown svg {

  background-color: green;


}
*/





